body{
    margin: 0;
    padding: 0;
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 100px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}


a:hover{
    color: black;
    text-decoration: underline;
}
